.register {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120deg, #2980b9,#8e44ad);
    
}

.regContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    position: absolute;
    padding:  70px;
    border-radius: 80px;
    box-sizing: border-box;
    width: 30%;
      transition: width 0.5s ease-in-out;
      transform: translateY(0%);
}

.regInput {
    height: 45px;
    padding: 15px;
    font-size: 16px;
    border: ridge;
    background: none;
    outline: none;
    color: #0071c2;
   
}

.regBtn {
    border: none;
    padding: 15px 30px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.regButton:disabled {
    background-color: #0071c28c;
    cursor: not-allowed;
}







.regContainer:hover{
    width: 35%;
    color: #0071c2;
}
.regContainer h2{
    text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver
}