.register {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../img/reg.jpg");
    overflow: hidden;
    background-repeat: no-repeat ;
    background-size: cover;
}

.regContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
    transition: width 0.5s ease-in-out;
}

.regInput {
    height: 45px;
    padding: 15px;
   box-sizing: border-box;
   border-radius: 5px;
   
}

.regBtn {
    border: none;
    padding: 15px 30px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.regButton:disabled {
    background-color: #0071c28c;
    cursor: not-allowed;
}



.regInput:focus{
    background-color: cadetblue;
    
}



.regContainer:hover{
    width: 50%;
}